body {

  background-image: url("pattern.svg"),  linear-gradient(45deg, red, blue);



}
h1  {
  text-align: center;
}
h2 {
  text-align: center;
}
.text {
  box-sizing: border-box;
  width: 50%;
  margin-left: 25%;
  color: white;

  margin-top: 25%;
  border-radius: 25px;
  --> box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);<!--


}


 #button {

  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: blue;
  border: 1px solid black;

  font-size: 20px;
  color: white;
  box-shadow: 1px 3px 5px 0px black;

}
#button:hover {
  background-color: #4d94ff;
  cursor: pointer;

}
#metbut {

  border-radius: 50%;
  background-color: white;
  border: 1px solid black;

  font-size: 20px;

  box-shadow: 1px 3px 5px 0px black;

}
#metbut:hover {
  background-color: grey;
  cursor: pointer;
}
